{% extends 'GitPhpBundle:Main:base.html.twig' %}


{% block body %}

    {#{{ filesList }}#}
    {#{{ status }}#}

    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <h2><strong>{{ activeBranch }}</strong> files tree</h2>
                {% if filesLists.filesTree %}
                    <div class="editFiles-list">
                        <ul>
                            {% for key,file in filesLists.filesTree %}
                                {% if file is iterable %}
                                    {% include "GitPhpBundle:Main:tree.html.twig" with {'file': file, 'parent': key} %}
                                {% else %}
                                    <li class="file-element">
                                        <p class="file-name">{{ file }}</p>
                                        <div class="file-options" data-path="{{ file }}">
                                            <i class="fa fa-pencil-square-o edit-action" aria-hidden="true"></i><i
                                                    class="fa fa-trash remove-action" aria-hidden="true"></i>
                                        </div>
                                    </li>
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
            {% if filesLists.modifiedFiles|length > 0 %}
                <div class="col-lg-12">
                    <h2><strong>{{ activeBranch }}</strong> modified files</h2>
                    {% for file in filesLists.modifiedFiles %}
                        <p class="modified-file">{{ file }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if filesLists.newFiles|length > 0 %}
                <div class="col-lg-12">
                    <h2><strong>{{ activeBranch }}</strong> new files</h2>
                    {% for file in filesLists.newFiles %}
                        <p class="new-file">{{ file }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if filesLists.deletedFiles|length > 0 %}
                <div class="col-lg-12">
                    <h2><strong>{{ activeBranch }}</strong> deleted files</h2>
                    {% for file in filesLists.deletedFiles %}
                        <p class="deleted-file">{{ file }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="editFileModal" tabindex="-1" role="dialog" aria-labelledby="editFileModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addFileModalLabel">Edit file</h4>
                </div>
                <form action="{{ path("gitphp_main_editfile") }}" method="POST">
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-lg-12">
                                <h4>File name</h4>
                                <strong><p id="editFileNameLabel" class="file-name-input"></p></strong>
                                <input id="editFileNameInput" type="hidden" name="fileName" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h4>File body</h4>
                                <textarea name="fileBody" title="File body" id="editFileBodyInput"
                                          class="file-body-input"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Edit File</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}