<li><p id="folder_{{ parent | replace({'/': '_'}) }}" class="list-folder-header" data-path="{{ parent }}">{{ key }}/</p>
    <ul id="list_{{ parent | replace({'/': '_'}) }}" class="list-folder-container">
        {% for key,subfile in file %}
            {% if subfile is iterable %}
                {% include "GitPhpBundle:Main:tree.html.twig" with {'file': subfile, 'parent': parent ~ "/" ~ key} %}
            {% else %}
                <li data-path="{{ parent ~ "/" ~ subfile }}">{{ subfile }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</li>