<li><p id="folder_{{ parent | replace({'/': '_'}) }}" class="list-folder-header" data-path="{{ parent }}">{{ key }}/</p>
    <ul id="list_{{ parent | replace({'/': '_'}) }}" class="list-folder-container">
        {% for key,subfile in file %}
            {% if subfile is iterable %}
                {% include "GitPhpBundle:Main:tree.html.twig" with {'file': subfile, 'parent': parent ~ "/" ~ key} %}
            {% else %}
                <li class="file-element">
                    <p class="file-name">{{ subfile }}</p>
                    <div class="file-options" data-path="{{ parent ~ "/" ~ subfile }}" >
                        <i class="fa fa-pencil-square-o edit-action" aria-hidden="true"></i><i
                                class="fa fa-trash delete-action" aria-hidden="true"></i>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</li>